# Build directories
Build/
build/
out/
cmake-build-*/

# vcpkg
vcpkg/downloads/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/installed/
!vcpkg.json
!vcpkg-configuration.json

# IDE
.vscode/
.idea/
*.user
*.suo

# Compiled
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
_deps

# OS
.DS_Store
Thumbs.db